<app-menu></app-menu>
<div class="containtRegisterUser">
    <form *ngIf="FlagUser == false" [formGroup]="form" (ngSubmit)="Save($event)">
        <div class="">
            <div class="col-12 col-md-5 form-moduls-in-RegisterUser">
                <h1 class="title">Registrar Usuario</h1>
                <div class="inputContainer col-12">
                    <input id="NombreUsuario" type="text" class="input Names Util capitalize onlyletters"
                    [ngClass]="NombreUsuarioInvalidInput ? 'is-invalid' : ''"
                        placeholder="a" formControlName="NombreUsuario" (change)="Valid($event)" >
                    <label for="" 
                    class="label"
                    [ngClass]="NombreUsuarioInvalidInput ? 'is-invalidlabel ' : ''">Nombre</label>
                </div>
                <div class="inputContainer col-12">
                    <input id="APUsuario" type="text" 
                    class="input Names Util capitalize onlyletters"
                    [ngClass]="APUsuarioInvalidInput ? 'is-invalid ' : ''"
                        placeholder="a" formControlName="APUsuario" (change)="Valid($event)">
                    <label for=""
                    class="label"
                    [ngClass]="APUsuarioInvalidInput ? 'is-invalidlabel' : ''">Apellido Paterno</label>
                </div>
                <div class="inputContainer col-12">
                    <input id="AMUsuario" type="text" 
                    class="input Names Util capitalize onlyletters"
                    [ngClass]="AMUsuarioInvalidInput ? 'is-invalid' : ''"
                        placeholder="a" formControlName="AMUsuario" (change)="Valid($event)">
                    <label for="" 
                    class="label"
                    [ngClass]="AMUsuarioInvalidInput ? 'is-invalidlabel' : ''">Apellido Materno</label>
                </div>
                <div class="inputContainer col-12">
                    <input id="TelefonoUsuario" type="tel" 
                    class="input numbers phone Util"
                    [ngClass]="TelefonoUsuarioInvalidInput ? 'is-invalid' : ''"
                        placeholder="a" formControlName="TelefonoUsuario" (change)="Valid($event)" (keypress)="Validkeypress($event)">
                    <label for="" 
                    class="label"
                    [ngClass]="TelefonoUsuarioInvalidInput ? 'is-invalidlabel' : ''">Telefono</label>
                </div>
                <div class="inputContainer col-12">
                    <input id="EmailUsuario" type="text" 
                    class="input email Util"
                    [ngClass]="EmailInvalidInput ? 'is-invalid' : ''"
                        placeholder="a" formControlName="EmailUsuario" (change)="Valid($event)">
                    <label for="" 
                    class="label"
                    [ngClass]="EmailInvalidInput ? 'is-invalidlabel' : ''">Email</label>
                </div>
                <div class="col-12 col-md-12">
                    <div class="row">
                        <div class="col-md-10 col-12">
                            <div class="inputContainer col-12">
                                <input id="PasswordUsuario" type="password" 
                                class="input password"
                                [ngClass]="PasswordUsuarioInvalidInput ? 'is-invalid' : ''"
                                    placeholder="a" formControlName="PasswordUsuario" (change)="Valid($event)">
                                <label for="" 
                                class="label"
                                [ngClass]="PasswordUsuarioInvalidInput ? 'is-invalidlabel' : ''">Contraseña</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-1 icon-passwordUser">
                            <i *ngIf="iconvisiblePassword == true" (click)="EventPassword()"  class="fa-sharp fa-solid fa-eye-slash icon-eye"></i>
                            <i *ngIf="iconvisiblePassword == false" (click)="EventPassword()"  class="fa-solid fa-eye icon-eye"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="row">
                        <div class="col-md-10 col-12">
                            <div class="inputContainer col-12">
                                <input id="PasswordConfirmUser" type="password" 
                                class="input password"
                                [ngClass]="PassUsConfirmInvalidInput ? 'is-invalid' : ''"
                                    placeholder="a" formControlName="PassUsConfirm" (change)="Valid($event)">
                                <label id="PasswordConfirmUserlabel" for="" 
                                class="label"
                                [ngClass]="PassUsConfirmInvalidInput ? 'is-invalidlabel' : ''">Contraseña</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-1 icon-passwordUser">
                            <i *ngIf="iconvisiblePasswordConfirm == true" (click)="EventPasswordConfirm()" class="fa-sharp fa-solid fa-eye-slash icon-eye"></i>
                            <i *ngIf="iconvisiblePasswordConfirm == false" (click)="EventPasswordConfirm()"  class="fa-solid fa-eye icon-eye"></i>
                        </div>
                    </div>
                </div>
                <input type="submit" class="submitBtn" value="Registrar" [disabled]="form.invalid"
                [ngClass]="form.invalid ? 'buttonNone' : ''">
            </div>
        </div>
    </form>
    <div *ngIf="FlagUser == true" class="container-moduls-in-div-center">
        <div class="col-12 col-md-12">
            <div class="row">
                <div class="col-md-6 col-12">
                    <i class="fa-sharp fa-solid fa-circle-check succes-check"></i>
                </div>
                <div class="col-md-6 col-12 mt-4">
                    <h1 class="title-succes">Registro Exitoso</h1>
                </div>
            </div>
        </div>
    </div>
</div>