<div class="footer-body">
    <div class="margin-footer">
        <div class="line-white-right"></div>
        <div class="row col-12">
            <div class="col-md-3 col-12 mb-4 frame-social">
                <i class="fa-brands fa-facebook icon-footer-social"></i>
            </div>
            <div class="col-md-3 col-12 mb-4 frame-social">
                <i class="fa-brands fa-facebook-messenger icon-footer-social"></i>
            </div>
            <div class="col-md-3 col-12 mb-4 frame-social">
                <i class="fa-brands fa-instagram icon-footer-social"></i>
            </div>
            <div class="col-md-3 col-12 frame-social">
                <i class="fa-brands fa-telegram icon-footer-social"></i>
            </div>
        </div>
        <div class="line-white-left"></div>
    </div>
    <div class="margin-phones item" data-aos="fade-up">
        <img src="../../assets/img/ICON-LOGO-BETTER.png" alt="icon-logo" class="icon-logo-footer">
        <div class="col-12 col-md-12 mb-5">
            <div class="row">
                <div class="col-md-6 text-center Pophins-white boldpoph300 Size18 text-footer mb-4">
                    Telefono: 55-43-56-21-11
                </div>
                <div class="col-md-6 text-center Pophins-white boldpoph300 Size18 text-footer mb-4">
                    Email: demosq@demo.com
                </div>
            </div>
        </div>
    </div>
</div>  

<!-- <div class="item" data-aos="fade-up">1</div>
<div class="item" data-aos="fade-down">2</div>
<div class="item" data-aos="fade-right">3</div>
<div class="item" data-aos="fade-left">4</div>

<div class="item" data-aos="zoom-in">5</div>
<div class="item" data-aos="zoom-out">6</div>

<div class="item" data-aos="slide-up">7</div>

<div class="item" data-aos="flip-up">8</div>
<div class="item" data-aos="flip-down">9</div>
<div class="item" data-aos="flip-right">10</div>
<div class="item" data-aos="flip-left">11</div> -->