<div class="header-home">
    <div class="row col-12">
        <div class="col-md-2">
            <img src="../../assets/img/ICON-LOGO-BETTER.png" alt="icon-logo" class="icon-logo">
        </div>
        <div class="col-md-10 mt-4 ">
            <div class="nav-link-left">
                <ul class="nav nav-pills">
                    <div class="col-12 col-md-3">
                        <li class="nav-item"><a class="nav-link boldpoph400 Size18 text-center" attr-header="/products" (click)="ReloadRouting($event)">Productos</a></li>
                    </div>
                    <div class="col-12 col-md-3">
                        <li class="nav-item"><a class="nav-link boldpoph400 Size18 text-center" attr-header="/reports" (click)="ReloadRouting($event)">Reportes</a></li>
                    </div>
                    <div class="col-12 col-md-3">
                        <li class="nav-item"><a class="nav-link boldpoph400 Size18 text-center" attr-header="/buys" (click)="ReloadRouting($event)">Venta</a></li>
                    </div>
                    <div class="col-12 col-md-3">
                        <li class="nav-item"><a class="nav-link boldpoph400 Size18 text-center" attr-header="/settings" (click)="ReloadRouting($event)">Configuración</a></li>
                    </div>
    
                </ul>
            </div>
        </div>
    </div>
    </div>