<div class="header-home">
    <div class="row col-12">
        <div class="col-md-4">
            <img src="../../assets/img/ICON-LOGO-BETTER.png" alt="icon-logo" class="icon-logo cursor" attr-header="/home" (click)="ReloadRouting($event)">
        </div>
        <div class="col-md-7 mt-4">
            <div class="col-md-12 header-color">
                <i class="fa-solid fa-user boldpoph400 Size22 text-center right-8px"></i>
                <i class="fa-solid fa-caret-down Size26 cursor"></i>
            </div>
        </div>
    </div>
    </div>