<div class="containwhite">
    <div class="row col-12 col-md-12">
      <div class="col-md-7">
        <img src="../../assets/img/login.jpg" class="img-login">
      </div>
      <div class="signupFrm col-md-5 col-12">
        <form [formGroup]="form" novalidate class="form" (ngSubmit)="doLogin()">
          <h1 class="title">Login</h1>
          <div class="inputContainer">
            <input id="EmailLogin" type="text"  class="input authentication email" placeholder="a" formControlName="Email"
            [ngClass]="EmailInput ? 'is-invalid' : ''" (change)="Valid($event)"/>
            <label id="EmailLoginlabel" for="EmailLogin" class="label authentication" 
            [ngClass]="EmailInput ? 'is-invalidlabel ' : ''">Email</label>
          </div>
          <div class="inputContainer">
            <input id="PasswordLogin" type="text" class="input authentication password" placeholder="a" formControlName="Password"
            [ngClass]="PasswordInput ? 'is-invalid ' : ''" (change)="Valid($event)" />
            <label id="PasswordLoginlabel" for="PasswordLogin" class="label authentication"
            [ngClass]="PasswordInput ? 'is-invalidlabel' : ''">Password</label>
          </div>
          <input type="submit" class="submitBtn" value="Ingresar" [disabled]="form.invalid"
          [ngClass]="form.invalid ? 'buttonNone' : ''">
        </form>
      </div>
    </div>
  </div>
  