    //Theme dark
//Colores de contenedores divs
$Color-father-strong: #042434;
$Color-father-weak: white;
$Color-container-moduls-in:#fafafa;

    //Icons
$Color-text-in-content-icons: white;


//General Styles forms

$Color-border-input:#DADCE0;
$Color-backgroud-input:white;

.asd{
    color: #DADCE0;
}